.page {
  height: 100vh;
  background-color: var(--color-dark-900);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.button {
  display: block;
  width: 120px;
  margin: 54px auto 0;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}