.cardContainer {
  max-width: 234px;
  display: flex;
  flex-direction: column;
padding: 0;
}

.userInfo{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  margin-top: 12px;
}