.cardContainer {
  max-width: 234px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.userInfoContainer{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 12px;
}

.userInfo{
  display: flex;
  gap: 12px;
}