.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 72px;

  .cardContainer {
    width: 378px;
    padding: 24px;

    .title {
      margin-bottom: 37px;
    }

    .text {
      color: var(--color-light-900);
      margin-top: 20px;
    }

    .ButtonsContainer {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin: 24px 0;

      .button {
        border: none !important;
      }

      .linkContainer {
        display: flex;
        justify-content: center;

        .linkText,
        .linkText:visited {
          text-align: center;
          color: var(--color-accent-500);
        }
      }

      .recaptchaContainer {
        display: flex;
        justify-content: center; /* Optional: Center it horizontally */
        width: 100%; /* Full width */
      }
    }
  }
}

.recoveryConfirmationContainer {
  background-color: var(--color-dark-100);
}
