.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1280px;
  height: 60px;
  padding:12px 64px 12px 60px ;

  border-bottom: 2px solid var(--color-dark-300);

  .headerActions {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
  }

  .option {
    display: flex;
    gap: 12px;
    align-items: center;

  }
}

.notification {
  position: relative;
  margin-top: 9px;

  .count {
    position: absolute;
    top: -5px;
    left: 9px;

    display: flex;
    justify-content: center;

    width: 13px;
    height: 13px;

    font-size: 10px;
    color: white;

    background-color: red;
    border-radius: 50%;
  }
}

.login {
  font-weight: 600;
}

.signup {
  font-weight: 600;
}

