.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 220px;
  padding-top: 72px;

  border-right: 2px solid var(--color-dark-300);
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;

  list-style: none;
}

.sidebarMenuItem {
  display: flex;
  align-items: center;

  .button {
    font-size: var(--font-size-m);
    color: var(--color-light-100);
    outline: none;
    transition: border-color 0.2s ease;

    &:focus {
      color: var(--color-light-100);
      border: 2px solid var(--color-accent-700);
      border-radius: 4px;
    }
  }

  &:nth-child(6) .button {
    margin-top: 60px;
  }

  &:last-child .button {
    margin-top: 180px;
  }

  :hover {
    color: var(--color-accent-100) ;
    svg {fill: var(--color-accent-100)}
  }

  &.active {
    .button {
      font-weight: var(--font-weight-bold);
      color: var(--color-accent-500);

    }
  }
}