.main {
  width: 1280px;
  margin: 0 auto;
}

.layoutContent {
  display: flex;
  height: calc(100vh - 60px);
}

.navbar {
  width: 220px;
  border-right: 2px solid var(--color-dark-300);
}

.contentArea {
  width: 100%;
}