.Large{
  font-weight: 600;
  font-size: 26px;
}


.H1{
  font-weight: 700;
  font-size: 20px;
}

.H2{
  font-weight: 700;
  font-size: 18px;
}


.H3{
  font-weight: 600;
  font-size: 16px;
}


.regular_text_16{
  font-weight: 400;
  font-size: 16px;
}


.bold_text_16{
  font-weight: 700;
  font-size: 16px;
}

.regular_text_14{
  font-weight: 400;
  font-size: 14px;
}

.medium_text_14{
  font-weight: 500;
  font-size: 14px;
}


.bold_text_14{
  font-weight: 700;
  font-size: 14px;
}


.small_text_12{
  font-weight: 400;
  font-size: 12px;
}


.semi_bold_small_text_12{
  font-weight: 600;
  font-size: 12px;
}


.regular_link{
  font-weight: 400;
  font-size: 14px;
}


.small_link{
  font-weight: 500;
  font-size: 12px;
}

.right{
  text-align: right;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}