@mixin button-colors-and-borders($color, $back-ground-color, $border, $border-radius, $box-shadow) {
  color: $color;

  background-color: $back-ground-color;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

$accent-color: var(--color-accent-500);
$light-color: var(--color-light-100);
$dark-color: var(--color-dark-300);
$accent-hover: var(--color-accent-100);
$accent-focus: var(--color-accent-700);
$accent-disabled: var(--color-accent-900);

.button {
  all: unset;
  cursor: pointer;
  gap: 10px;
  padding: 6px 28px;
}

.primary, .secondary, .outline, .link {
  @include button-colors-and-borders($light-color, transparent, 2px solid $accent-color, 4px, 0 4px 18px 0 #8c61ff59);
}

.primary {
  @include button-colors-and-borders($light-color, $accent-color, 2px solid $accent-color, 4px, 0 4px 18px 0 #8c61ff59);

  &:hover {
    background-color: $accent-hover;
    border-color: $accent-hover;
  }

  &:focus-visible {
    background-color: $accent-color;
    border-color: $accent-focus;
  }

  &:active {
    background-color: $accent-color;
    border-color: $accent-focus;
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: $accent-disabled;
    border-color: $accent-disabled;
  }
}

.secondary {
  @include button-colors-and-borders($light-color, $dark-color, 2px solid $dark-color, 4px, 0 4px 4px 0 #4d566021);

  &:hover {
    background-color: var(--color-dark-100);
    border-color: var(--color-dark-100);
  }

  &:focus-visible {
    background-color: $dark-color;
    border-color: var(--color-accent-300);
  }

  &:active {
    background-color: #212121;
    border-color: var(--color-dark-500);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-500);
  }
}

.outline {
  @include button-colors-and-borders($accent-color, transparent, 1px solid $accent-color, 4px, none);

  &:hover {
    color: $accent-hover;
    border-color: $accent-hover;
  }

  &:focus-visible {
    color: $accent-focus;
    border-color: $accent-focus;
  }

  &:active {
    color: $accent-focus;
    border-color: $accent-focus;
  }

  &:disabled {
    color: $accent-disabled;
    border-color: $accent-disabled;
    box-shadow: none;
  }
}

.link {
  @include button-colors-and-borders($accent-color, transparent, 2px solid transparent, 4px, none);

  padding: 6px;

  &:hover {
    color: $accent-hover;
  }

  &:active {
    background-color: rgb(10 102 56 / 0%);
  }

  &:focus-visible {
    padding: 6px 12px;
    color: $accent-color;
    border-color: $accent-focus;
    border-radius: 2px;
  }

  &:disabled {
    color: $accent-disabled;
  }
}

.fullWidth {
  width: 80%;
  text-align: center;
}

.asLink {
  cursor: pointer;
  display: inline-block;
}

.valueBox {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  text-align: center;
}
