.page {
  height: 100vh;
  padding: 70px 160px 0;
  background-color: #0d0d0d;
  position: relative;
  font-family: Inter;
}
.button{
  position: absolute;
  left: 70px;
  top: 25px;
  background: none;
  border: none;
  padding: 0;
  color: #ffffff;
}
